<div id="error-page" class="content-wrapper" data-activate="{{ navtabid }}">
  <h1>Uhoh, something went wrong...</h1>
  <div class="error-message my-4">
    <p class="lead">{{ message }}</p>
  </div>
  <a class="btn btn-dark btn-lg" href="{{ link }}" role="button">Go Back</a>
</div>
