#inventory-ksswaps .summary-wrapper,
#inventory-upgrades .summary-wrapper,
#inventory-vmupdates .summary-wrapper {
  font-size: 0.95rem;
}
#inventory-ksswaps .dataTables_filter,
#inventory-upgrades .dataTables_filter,
#inventory-vmupdates .dataTables_filter {
  display: inline-flex;
  float: right;
}
div.alert.alert-warning.wizard-alert::before {
  -webkit-background-size: 1rem 1rem;
  background-size: 1rem 1rem;
  background-position: 0.25rem 0.5rem;
}
.wizard-alert {
  position: relative;
}
.wizard-alert span {
  line-height: 1.75rem;
  position: absolute;
  top: 0.875rem;
}